# Local Python execution (running scripts directly on Windows)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=supplysense

KAFKA_BROKER=localhost:9092
KAFKA_TOPIC_EVENTS=dataset-events
KAFKA_CONSUMER_GROUP=dependency-engine

OLIST_DATA_DIR=./data/raw_csv

# Square Sandbox Configuration
SQUARE_ENVIRONMENT=sandbox
SQUARE_BASE_URL=https://connect.squareupsandbox.com
SQUARE_APPLICATION_ID=sandbox-sq0idb-Gu2xuSGJMMA4gFWcCR8WNw
SQUARE_ACCESS_TOKEN=your_square_sandbox_access_token
SQUARE_LOCATION_ID=your_square_sandbox_location_id
